<template>
  <q-page class="flex column">

    <q-card class="q-ma-md" v-for="u in users" :key="u.id">
      <q-card-section class="text-h6">
        <q-icon name="face" size="xl"/>
        {{ `${u.firstName} ${u.lastName}` }}
      </q-card-section>

      <q-separator inset/>

      <q-card-section>
        <div class="row items-center">
          <q-icon class="q-mr-md" name="vpn_key" size="1.5em"/> {{ u.id }}
        </div>

        <div class="row items-center">
          <q-icon class="q-mr-md" name="mail" size="1.5em"/> {{ u.email }}
        </div>
      </q-card-section>
    </q-card>

  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  mounted () {
    this.$store.dispatch('api/initializeUsers')
  },
  computed: {
    users () {
      return this.$store.getters['api/getUsers']
    }
  }
}
</script>
