<template>
  <q-page class="row" padding>

    <div class="column q-mr-md col" v-if="displayList">
      <q-input
        outlined
        clearable
        v-model="filter"
        placeholder="Filtrer..."
        class="q-mb-md"
        />

      <q-list bordered separator class="col">
        <q-item
          clickable
          v-ripple
          v-for="u in filteredUsers"
          :key="u.id"
          tag="a"
          :href="link + u.id">
          <q-item-section avatar>
              <q-icon name="face"/>
          </q-item-section>
          <q-item-section>{{ `${u.firstName} ${u.lastName}` }}</q-item-section>
        </q-item>
      </q-list>
    </div>

    <q-card class="col q-ma-md" v-if="selectedUser">
      <q-card-section class="text-h6">
        <q-icon name="face" size="xl"/>
        {{ `${selectedUser.firstName} ${selectedUser.lastName}` }}
      </q-card-section>
      <q-separator inset/>

      <q-card-section>
        <div class="row items-center">
          <q-icon class="q-mr-md" name="vpn_key" size="1.5em"/> {{ selectedUser.id }}
        </div>
        <div class="row items-center">
          <q-icon class="q-mr-md" name="mail" size="1.5em"/> {{ selectedUser.email }}
        </div>
        <div class="row items-center">
          <q-icon class="q-mr-md" name="cake" size="1.5em"/>{{ selectedUser.birthDate }}
        </div>
        <div class="row items-center">
          <q-icon class="q-mr-md" name="map" size="1.5em"/> {{ selectedUser.billingAddress }}
        </div>
      </q-card-section>

    </q-card>

  </q-page>
</template>

<script>
export default {
  name: 'PageList',
  props: {
    userId: Number
  },
  data () {
    return {
      link: '#/list/',
      filter: ''
    }
  },
  mounted () {
    this.$store.dispatch('api/initializeUsers')
  },
  computed: {
    users () {
      return this.$store.getters['api/getUsers']
    },
    selectedUser () { return this.$store.getters['api/getUser'](this.userId) },
    filteredUsers () {
      if (this.filter === null) {
        return this.users
      } else {
        return this.users.filter(u => u.firstName.includes(this.filter) || u.lastName.includes(this.filter))
      }
    },
    displayList () {
      return this.$q.screen.gt.xs || this.selectedUser == null
    }
  }
}
</script>
